//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}
//-   p Dit session ID: #{løbeId}
//-   br
//-   p Formålet med denne undersøgelse er at evaluere forskellige hjemmesidedesigns. Du vil blive præsenteret for flere forskellige sider og derefter svare på nogle spørgsmål om dem. Der er ingen rigtige eller forkerte svar – vi er interesserede i dine personlige holdninger. Når du er klar, kan du starte undersøgelsen ved at trykke på knappen nedenfor.
//-   br
//-   button#start Start undersøgelse

extends layout

block content
  h1 Velkommen til hjemmesidedesign-undersøgelsen
  p Formålet med denne undersøgelse er at evaluere forskellige hjemmesidedesigns.  Du vil blive præsenteret for flere forskellige sider og derefter svare på nogle spørgsmål om dem. Der er ingen rigtige eller forkerte svar – vi er interesserede i dine personlige holdninger. Når du er klar, kan du starte undersøgelsen ved at trykke på knappen nedenfor.

  p Dit session ID: #{løbeId}
  br
  br
  button#start Start undersøgelse
