doctype html
html(lang="da")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer src="/js/admin.js")
    script(defer src="/scripts/script.js")
  body
    nav.navbar
      a.logo(href="/") Hjemmesideundersøgelse
      p Session ID: #{løbeId}

      ul.menu
        //-li: a(href="/") Forside (fjernet, da logoet nu fungerer som link)
        //-li: a(href="/survey/design1") Start undersøgelsen
        li: button#toggleSurvey Vis spørgeskema

    // Slide-in spørgeskema panel
    #surveyPanel.survey-panel
      button#closeSurvey.close ✖
      h2 Spørgeskema
      form(action="/survey/submit-response" method="POST")
        block survey-content

    .container
      block content
